{% extends 'admbase.html' %}

{% block title%}
ADMIN ADD PROFIT
{% endblock %}

{% block content%}
<div class="m-5">
<h1> ADMIN ADD PROFIT</h1>
<br>
<div>

  <form class=" g-3" style="width: 100%; max-width: 400px;">
    {% csrf_token %}
    <input type="number" class="form-control my-2" placeholder="PERCENTAGE" aria-label="PERCENTAGE">
    <input type="number" class="form-control my-2" placeholder="DAYS" aria-label="DAYS">
    <button type="submit" class="btn btn-secondary">ADD</button>
  </form>
</div>
{% endblock %}