{% extends 'admbase.html' %}

{% block title%}
ADMIN ADD PLAN
{% endblock %}

{% block content%}
<div class="m-5">
<h1> ADMIN ADD PLAN</h1>
<br>
<form method="POST">
  {% csrf_token %}
    <div class="row mb-3">
      <label for="" class="col-sm-2 col-form-label">Plan Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="" name="plan_name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="" class="col-sm-2 col-form-label">Amount</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="" name="plan_price">
      </div>
    </div>
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">Min Percentage</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="" name="plan_min_percentage">
        </div>
      </div>
      <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">Max Percentage</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="" name="plan_max_percentage">
        </div>
      </div>
      <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">Min Profit</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="" name="plan_min_profit">
        </div>
      </div>
      <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">Max Profit</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="" name="plan_max_profit">
        </div>
      </div>
    <button type="submit" class="btn btn-secondary">Add</button>
  </form>
{% endblock %}