{% extends 'admbase.html' %}

{% block title%}
ADMIN EDIT PLAN
{% endblock %}

{% block content%}
<div class="m-5">
<h1> ADMIN EDIT PLAN</h1>
<br>
    {% for plan in plans %}
    <a href="#" class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
        <div class="card-body">
            <h4 class="card-title text-center"><strong>&gt;$ {{ plan.plan_price }}</strong></h4>
            <p class="card-text text-center" style="font-size: 1.2em;">({{ plan.plan_min_percentage }}% - {{ plan.plan_max_percentage }}%)</p>
            <p class="card-text text-center" style="font-size: 1.2em;">Day - (${{ plan.plan_min_profit }} - ${{ plan.plan_max_profit }})</p>
        </div>
    </a>
{% endfor %}

{% endblock %}