<div class="sidenav" style="border-right: 1px solid #444;">
    <div class="sidenav-header py-3">
        <h1>ADMIN AI FX TRADING</h1>
        <button class="toggle-btn" style="visibility: hidden;" id="sidebar-toggle-btn-1">&equiv;</button>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admindex' %}">
                DASHBOARD
            </a>
        </li>
          
          <li class="nav-item">
              <a class="nav-link py-3" href="{% url 'admreg' %}">
                  REGISTRATIONS
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link py-3" href="{% url 'admregact' %}">
                  ACTIVE USERS
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admpayments' %}">
                PAYMENTS
            </a>
        </li>
          <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admwithdraw' %}">
                WITHDRAW
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admaddprofit' %}">
                ADD PROFIT

            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admaddplan' %}">
                ADD PLAN
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admeditplan' %}">
                EDIT PLAN 
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-3" href="{% url 'admindex' %}">
                ADD 
            </a>
        </li>
          <!-- Add more menu items here -->
      </ul>
</div>
