{% extends 'admbase.html' %}

{% block title%}
ADMIN PAYMENTS
{% endblock %}

{% block content%}
<div class="m-5">
<h1> PAYMENTS </h1>
<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">STATUS</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    
    </tbody>
  </table>


{% endblock %}