{% extends 'user/base.html' %}

{% block title%}
Log In
{% endblock %}

{% block content%}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
<div class=" mx-auto" style="margin-top: 10em; width: 100%; max-width: 500px;">
    <h1 class="h1">Sign In</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" name="login_uname" placeholder="Username">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" name="login_passw" placeholder="password">
          </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-secondary">Log In</button>
          </div>
            </div>
          </div>
      </form>
    </div>
{% endblock %}