{% extends 'base.html' %}

{% block title%}
PROFIT
{% endblock %}

{% block content%}
<div class="m-5">
<h1 class="text-white"> PROFIT </h1>

<div class="m-5">

        <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
            <div class="card-body">
                <h4 class="card-title text-center"><strong>&gt;$ 100</strong></h4>
                <p class="card-text text-center" style="font-size: 1.2em;">(0.5% - 1.5%)</p>
                <p class="card-text text-center" style="font-size: 1.2em;">Day - ($0.5 - $1.5)</p>
                <br>
                <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - </p>
                <p class="card-text text-center" style="font-size: 1.2em;">TOTAL DAYS - </p>
                <p class="card-text text-center" style="font-size: 1.2em;">Total Profit - </p>
                
            </div>
        </div>

        
                <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
                    <div class="card-body">
                        <h4 class="card-title text-center"><strong>
                            REFERRAL</strong></h4>
                        <p class="card-text text-center" style="font-size: 1.2em;">LEVEL -</p>
                        <p class="card-text text-center" style="font-size: 1.2em;"></p>
                        <br>
                   
                        <p class="card-text text-center" style="font-size: 1.2em;">Total Profit - </p>
                        
                    </div>
                </div>
                <br>

                <h3 class="text-white"> TOTAL - </h3>
                <h3 class="text-white"> BALANCE - </h3>
{% endblock %}