{% extends 'base.html' %}

{% block title%}
Sign Up
{% endblock %}

{% block content%}
<form method="POST">
    {% csrf_token %}
    <div class="m-5">
        <div class="row">
            <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fname">
            </div>
            <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname">
            </div>
        </div>
        <div class="m-5">
            <div class="row">
                <div class="col">
                <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="signup_email">
                </div>
                <div class="col">
                    <input type="username" class="form-control" placeholder="username" aria-label="username" name="signup_uname">
                </div>
                
                <div class="col">
                <input type="password" class="form-control" placeholder="password" aria-label="password" name="signup_passw">
                </div>
            </div><br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}