{% extends 'base.html' %}

{% block title%}
Sign Up
{% endblock %}

{% block content%}
<div class=" mx-auto" style="margin-top: 9%; width: 100%; max-width: 500px;">
    <h1 class="h1">Sign Up</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" class="form-control my-3" placeholder="First name" aria-label="First name" name="fname">
        <input type="text" class="form-control my-3" placeholder="Last name" aria-label="Last name" name="lname">
        <input type="email" class="form-control my-3" placeholder="Email" aria-label="Email" name="signup_email">
        <input type="username" class="form-control my-3" placeholder="username" aria-label="username" name="signup_uname">
        <input type="password" class="form-control my-3" placeholder="password" aria-label="password" name="signup_passw">
        <button type="submit" class="btn btn-secondary">Sign Up</button>
        
    </form>
</div>
{% endblock %}