{% extends 'mod/admbase.html' %}

{% block title%}
ADMIN ADD PROFIT
{% endblock %}

{% block content%}

<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>

<div class="m-5">
<h1> ADMIN ADD PROFIT</h1>
<br>

<div>
  <form class=" g-3" style="width: 100%; max-width: 400px;" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="PLAN NAME" aria-label="First name" name="plan_name">
      </div>
    </div>
    <input type="text" class="form-control my-2" placeholder="PERCENTAGE" aria-label="PERCENTAGE" name="percentage">
    <input type="text" class="form-control my-2" placeholder="DAYS" aria-label="DAYS" name="days">
    <button type="submit" class="btn btn-secondary">ADD</button>
  </form>
</div>

<div>
  <form class=" g-3" style="width: 100%; max-width: 400px;" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="USER NAME" aria-label="First name" name="uname">
      </div>
    </div>
    <input type="text" class="form-control my-2" placeholder="AMOUNT" aria-label="PERCENTAGE" name="amount">
    <input type="text" class="form-control my-2" placeholder="DAYS" aria-label="DAYS" name="days">
    <button type="submit" class="btn btn-secondary">ADD</button>
  </form>
</div>

{% endblock %}