{% extends 'mod/admbase.html' %}

{% block title%}
ADMIN ACTIVE USERS
{% endblock %}

{% block content%}
<div class="m-5">
<h1> ACTIVE USERS</h1>
<br>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">PLAN</th>
        <th scope="col">AMOUT</th>
        <th scope="col">DAYS</th>
        <th scope="col">PROFIT</th>
        <th scope="col">REFFERED BY</th>
        <th scope="col">HISTORY</th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ member.user.username }}</td>
        <td>{{ member.plan.plan_name }}</td>
        <td>{{ member.invested_amount }}</td>
        <td>@mdo</td>
        <td>{{ member.user_profit }}</td>
        <td>@mdo</td>
        <a> <td> view </td></a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}