{% extends 'mod/admbase.html' %}

{% block title%}
ADMIN PAYMENTS
{% endblock %}

{% block content%}
<div>
<h1> PAYMENTS </h1>
<br>
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link text-light"  style="background-color: #222831;" href="{% url 'mod_payments' status='pending' %}"><i class="fa-solid fa-angles-left"></i> PENDING</a></li>
    <li class="page-item"><a class="page-link text-light"  style="background-color: #222831;" href="{% url 'mod_payments' status='approved' %}"> APPROVED</a></li>
    <li class="page-item"><a class="page-link text-light"  style="background-color: #222831;" href="{% url 'mod_payments' status='rejected' %}"> REJECTED  <i class="fa-solid fa-angles-right"></i></a></li>
  </ul>
</nav>

<table class="table table-dark table-striped">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">NAME</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">TRANSATION ID</th>
        <th scope="col">STATUS</th>
        <th scope="col">ACTION</th>
        
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ payment.user.username }}</td>
        <td>{{ payment.transaction_name }}</td>
        <td>{{ payment.transaction_amount }}</td>
        <td>{{ payment.transaction_id }}</td>
        <td>{{ payment.transaction_status }}</td>
        <td>
        {% if payment.transaction_status == 'pending' %}
        <a href="{% url 'mod_payments_approve' action='approve' id=payment.id %}" class="btn btn-success" > APPROVE </a>
        <a href="{% url 'mod_payments_approve' action='reject' id=payment.id %}" class="btn btn-danger" > REJECT </a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>


{% endblock %}