{% extends 'mod/admbase.html' %}

{% block title%}
ADMIN PAYMENTS
{% endblock %}

{% block content%}
<div class="m-5">
<h1> PAYMENTS </h1>
<br>
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
<a href="{% url 'mod_payments' status='pending' %}"> PENDING  ||</a>
<a href="{% url 'mod_payments' status='approved' %}"> APPROVED ||</a>
<a href="{% url 'mod_payments' status='rejected' %}"> REJECTED </a>

<table class="table table-dark table-striped">
  <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">USERNAME</th>
        <th scope="col">NAME</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">TRANSATION ID</th>
        <th scope="col">STATUS</th>
        <th scope="col">ACTION</th>
        
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ payment.user.username }}</td>
        <td>{{ payment.transaction_name }}</td>
        <td>{{ payment.transaction_amount }}</td>
        <td>{{ payment.transaction_id }}</td>
        <td>{{ payment.transaction_status }}</td>
        <td>
        {% if payment.transaction_status == 'pending' %}
        <a href="{% url 'mod_payments_approve' action='approve' id=payment.id %}" > APPROVE </a>
        <a href="{% url 'mod_payments_approve' action='reject' id=payment.id %}" > REJECT </a>
        {% endif %}
        </td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>


{% endblock %}