{% extends 'user/base.html' %}

{% block title%}
Home
{% endblock %}

{% block content%}

<ul class="messages">
{% for message in messages %}
<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>

<br>
{% if user_plans %}
{% for user_plan in user_plans %}
{% if user_plan.invested_amount != "0" %}
<div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
    <div class="card-body">
        <h4 class="card-title text-center"><strong>{{ user_plan.plan.plan_name }}</strong></h4>
        <h4 class="card-title text-center"><strong>$ {{ user_plan.invested_amount }}</strong></h4>
        <p class="card-text text-center" style="font-size: 1.2em;">({{ user_plan.plan.plan_min_percentage }}% - {{ user_plan.plan.plan_max_percentage }}%)</p>
        <br>
        <!--<p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - {{ user_plan.invested_amount }}</p>-->
        <p class="card-text text-center" style="font-size: 1.2em;">TOTAL DAYS - </p>
        <p class="card-text text-center" style="font-size: 1.2em;">Total Profit - {{ user_plan.user_profit }}</p>
        <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ user_plan.user_status }}</p>
        
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<br>
{% if payments %}
{% for payment in payments %}
{% if payment.transaction_status != "approved" %}
<div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
    <div class="card-body">
        <p class="card-text text-center" style="font-size: 1.2em;">payment</p>
        <br>
        <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - {{ payment.transaction_amount }}</p>
        <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ payment.transaction_status }}</p>
        
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<br>
{% if withdraws %}
{% for withdraw in withdraws %}
{% if withdraw.withdraw_status == "pending" %}
<div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
    <div class="card-body">
        <p class="card-text text-center" style="font-size: 1.2em;"> withdraw </p>
        <br>
        <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - {{ withdraw.withdraw_amount }}</p>
        <p class="card-text text-center" style="font-size: 1.2em;">Status - {{ withdraw.withdraw_status }}</p>
        
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock %}