<div class="sidenav" style="background-color: #222831; border-right: 2px solid #2d4059;">
    <div class="sidenav-header py-3" style="background-color: #2d4059;">
        <button class="toggle-btn" style="visibility: hidden;" id="sidebar-toggle-btn-1">&equiv;</button>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"> {{ user.username }} <i class="fa-solid fa-angle-down"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <ul>
                    {% if user.is_authenticated %}
                    <li class="list-item py-2" >
                        
                        <a href="{% url 'profile' %}" class="text-dark"><i class="fa-solid fa-user"></i> Profile</a>
                    </li>
                    <li class="list-item py-2">
                        <a href="{% url 'logout' %}" class="text-dark"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                    {% else %}
                    <li class="list-item py-2">
                        <a href="{% url 'signup' %}" class="text-dark">Sign Up</a>
                    </li>
                    <li class="list-item py-2">
                        <a href="{% url 'login' %}" class="text-dark">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            
            </div>
          </div>
        
    </div>
    <ul style=" background-color: #222831;" class="py-4">
        <li class="list-item py-2">
            <a href="{% url 'user_dashboard' %}">
                DASHBOARD
            </a>
        </li>
          <li class="list-item py-2">
              <a href="{% url 'payment' %}">
                  INVEST
              </a>
          </li>
          <li class="list-item py-2">
              <a href="{% url 'plans' %}">
                  PLANS
              </a>
          </li>
          <li class="list-item py-2">
              <a href="{% url 'profit' %}">
                  WALLET
              </a>
          </li>
          <li class="list-item py-2">
            <a href="{% url 'withdraw' %}">
                WITHDRAW
            </a>
        </li>
        <li class="list-item py-2">
            <a href="{% url 'refer' %}">
                REFER
            </a>
        </li>
        <li class="list-item py-2">
            <a href="{% url 'history' action='payments' %}">
                HISTORY
            </a>
        </li>
        <li class="list-item py-2">
            <a href="{% url 'contact' %}">
                CONTACT
            </a>
        </li>
          <!-- Add more menu items here -->
      </ul>

</div>
