{% extends 'user/base.html' %}

{% block title%}
PROFIT
{% endblock %}

{% block content%}
<div class="m-5">
<h1 class="text-white"> PROFIT </h1>

<div class="m-5">

        {% if user_plan %}
        <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
            <div class="card-body">
                <h4 class="card-title text-center"><strong>{{ user_plan.plan.plan_name }}</strong></h4>
                <h4 class="card-title text-center"><strong>$ {{ user_plan.invested_amount }}</strong></h4>
                <p class="card-text text-center" style="font-size: 1.2em;">({{ user_plan.plan.plan_min_percentage }}% - {{ user_plan.plan.plan_max_percentage }}%)</p>
                <br>
                <p class="card-text text-center" style="font-size: 1.2em;">AMOUNT - $ {{ user_plan.invested_amount }}</p>
                <p class="card-text text-center" style="font-size: 1.2em;">TOTAL DAYS - </p>
                <p class="card-text text-center" style="font-size: 1.2em;">Total Profit - $ {{ user_plan.user_profit }}</p>
                
            </div>
        </div>
        {% endif %}

        
                <div class="card text-white mb-3 custom-link" style="max-width: 18rem; text-decoration: none; border: 2px solid #007BFF; border-radius: 10px; transition: transform 0.2s; background-color: #343a40;">
                    <div class="card-body">
                        <h4 class="card-title text-center"><strong>
                            REFERRAL</strong></h4>
                        <p class="card-text text-center" style="font-size: 1.2em;">LEVEL -</p>
                        <p class="card-text text-center" style="font-size: 1.2em;"></p>
                        <br>
                   
                        <p class="card-text text-center" style="font-size: 1.2em;">Total Profit - </p>
                        
                    </div>
                </div>
                <br>

                {% comment %} <h3 class="text-white"> TOTAL - </h3> {% endcomment %}
                <h3 class="text-white"> BALANCE - $ {{ user_plan.user_profit }}</h3>
{% endblock %}