{% extends 'user/base.html' %}

{% block title%}
REFER
{% endblock %}

{% block content%}
<div>
<h1> REFER </h1>
<div class="row">
    <div class="col-md">
        <div class="card" style="max-width: 18rem; text-decoration: none; border: 2px solid #ff5722; border-radius: 5px; transition: transform 0.2s; background-color: #2d4059;">
            <div class="card-header text-light">
                Refferal ID :- james@123
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-light" style="background-color: #2d4059;">Reffered by john</li>
              <li class="list-group-item text-light" style="background-color: #2d4059;">Reffered members :- david</li>
            </ul>
          </div>
    </div>
</div>
</div>

{% endblock %}